<!-- Design/Photo Grid -->
<section class="design-photo-grid">
    <div class="design-block graphic-design">
        <h3>Graphic Design</h3>
        <p>Great design makes you memorable. We deliver artwork that underscores your brand message and captures
            potential
            clients' attention.</p>
    </div>
    <div class="design-block photography">
        <h3>Photography</h3>
        <p>Increase your credibility by getting the most stunning, high-quality photos that improve your business
            image.
        </p>
    </div>
</section>