<!-- Services Grid -->
<section>
    <div class="services-grid services-grid__reverse">
        <div class="service service__left">
            <h2>Transform your brand</h2>
            <p>We are a full-service creative agency specializing in helping brands grow fast. Engage your clients
                through
                compelling visuals that do most of the marketing for you.</p>
            <div class="center-on-mobile">
                <a href="#" class="learn-more">LEARN MORE</a>
            </div>
        </div>
        <div class="service-image service-image__transform"></div>
    </div>
    <div class="services-grid">
        <div class="service-image service-image__standout"></div>
        <div class="service service__right">
            <h2>Stand out to the right audience</h2>
            <p>Using a collaborative formula of designers, researchers, photographers, videographers, and
                copywriters, we'll
                build and extend your brand in digital places.</p>
            <div class="center-on-mobile">
                <a href="#" class="learn-more">LEARN MORE</a>
            </div>
        </div>
    </div>
</section>